*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    background: transparent;
}
body {
    background-color: #1F2022;
}





/* ---------------------------- */
/*            Header            */
/* ---------------------------- */


.wrapper__container__navigation{
    display: flex;
    justify-content: space-between;


    text-align: center;
    align-items: center;
    padding: 15px;
    
    margin: 0 8%;
}

.wrapper__container{
    background: #2C2D31;
    border-bottom: 2px solid var(--, #3C3D42);

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}
.logo__text{
    display: flex;
    gap: 1.3rem;
}

.account-container{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 1.3rem;
}

.wrapper__nav{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.icon__logo{
    width: 24px;
    height: auto;
}

/* nav text */

.nav__text{
    color: #858B95;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.nav__text.active{
    color: #1EA5E7;
}
.nav__text:hover{
    color: #1EA5E7;
}
.logo__text p{
    color: #858B95;
}
.account-container a{
    color: #858B95;
}


.text__username{
    color: #E1E1E1;
    font-size: 18px;
}
.account-container.active .text__username{
    color: #1EA5E7;
}
/* ---------------------------- */
/*              MAIN            */
/* ---------------------------- */


/* left part */

.container__detailInit {
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
    gap: 2rem;
    align-items: flex-start;

    margin-top: 4rem;
}


.left__part__detail,
.right__part__detail {
    width: 50%; 
}

.left__part__detail video {
    width: 100%;
    height: auto; 
    border-radius: 10px; 
}

.dev__resources{
    color: #858B95;
    margin-top: 1rem;
    font-size: 14px;
}

@media (max-width: 900px) {
    .container__detailInit {
        flex-direction: column;
    }
    .left__part__detail,
    .right__part__detail {
        width: 100%;
    }
}

/* right part */
.title__detail{
    align-self: stretch;
    color: #E1E1E1;
    font-size: 48px;
}

.date__detail__text{
    color: #1EA5E7;
    text-shadow: 0px 0px 50px rgba(30, 165, 231, 0.25);
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.text__detail__text{

    color: #B8B8B8;
    font-size: 16px;
}

.detail__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 50px;
    margin-top: 2rem;

    border-radius: 20px;
    border: 1px solid #1EA5E7;
    background: #0086C8;

    box-shadow: 0px 0px 50px 25px rgba(30, 165, 231, 0.25);
}
/* ---------------------------- */
/*            Footer            */
/* ---------------------------- */





footer{
    margin: 0 8%;
}

.hr__footer{
    border-top: 2px solid #3C3D42;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.footer__container{
    
    display: flex;
    justify-content: space-between;
}

/* icon container */

.icon__text{
    display: flex;
    white-space: nowrap;
    margin-right: 2rem;
    color: #858B95;
    align-items: center;
    gap: 1rem;
}
.TextProcessor{
    margin-top: 0.5rem;
    color: #858B95;
    margin-right: 2rem;
}
/*  */

.title__footer__Inf{
    color: #E1E1E1;
    font-size: 20px;
    margin-bottom: 0.5rem;
}
.text__footer__Inf{
    color: #B8B8B8;
}
/* Qr_code */
.qr__code__container{
    margin-left: 2rem;
}